.container{
    max-width: 900px;
    flex-wrap: wrap;
    display: flex;
    margin: 0 auto;

    div{
        margin: 10px;
        flex: 1 1 200px;

        .items{
            width: 100%;
            height: 300px;
            border-radius: 10px;
            background: rgb(59, 59, 59);
        }
    }
}